<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBSimpleTVTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TopShelfExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83CC09DB1C59E16A00675699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CC09F41C59E16B00675699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CC09FF1C59E16B00675699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CC0A151C59EB9800675699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
